<template>
  <a-card hoverable :loading="loading">
    <div class="item-photo">
      <img
        :src="product.photo"
      >
    </div>
    <div class="item-details">
      <div class="item-head">
        <div class="item-title">
          {{ $i18n.locale === 'en' ? product.name : product.name_ar }}
        </div>
        <div class="item-price">
          <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
        </div>
      </div>
      <div class="item-footer">
        <div class="item-quantity">
          <div class="item-quantity-increase" @click="increaseQuantity">
            <a-icon type="plus" />
          </div>
          <span>{{ product.quantity }}</span>
          <div class="item-quantity-decrease" @click="decreaseQuantity">
            <a-icon type="minus" />
          </div>
        </div>
        <div class="remove-item" @click="removeItem">
          <a-icon type="delete" />
          <span>{{ $t('cart.removeItem') }}</span>
        </div>
      </div>
    </div>
  </a-card>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loading: true
    }
  },
  mounted () {
    const that = this
    if (this.product) {
      setTimeout(() => {
        that.loading = false
      }, 400)
    }
  },
  methods: {
    increaseQuantity () {
      this.$store.commit('INCREASE_ITEM_QUANTITY', { id: this.product.id })
    },
    decreaseQuantity () {
      this.$store.commit('DECREASE_ITEM_QUANTITY', { id: this.product.id })
    },
    removeItem () {
      this.$store.commit('DELETE_ITEM', { id: this.product.id })
    }
  }
}
</script>
<style lang="scss" scoped>
.ant-card {
  width: 100%;

  ::v-deep {
    .ant-card-loading-content {
        width: 100%;
    }
   .ant-card-body {
      display: flex;
      @media only screen and (max-width: 567px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
      }
    }
  }
  .item-photo {

      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        @media only screen and (max-width: 767px){
          display: none;
        }
      }

  }
  .item-head, .item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 567px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
    }
  }
  .item-footer {
    margin-top: auto;
  }
  .item-details {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      flex: 1;
       @media only screen and (max-width: 767px){
          margin: 0 !important;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          & > div {
            max-width: calc(100% / 2 - 8px);
          }
      }
      .item-title {
          font-size: 18px;
          font-weight: bold;
          @media only screen and (max-width: 767px){
             font-size: 14px;
          }
      }
      .item-head {
        @media only screen and (max-width: 767px){
          align-items: flex-start;
        }
      }
  }

  .item-price {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    @media only screen and (max-width: 767px){
      font-size: 12px;
      margin-top: 16px;
    }
    p{
      margin-bottom: 0;
    }
    sup {
      color: red;
      text-decoration: line-through;
      top: 4px;
      margin: 0px 4px;
    }
  }
  .item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    max-width: 240px;
    width: 100%;
    span {
      font-weight: bold;
      font-size: 18px;
      @media only screen and (max-width: 567px){
            margin: 0px 16px;
      }
    }
    .item-quantity-increase,
    .item-quantity-decrease {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      font-size: 15px;
      transition: background,color .3s ease-in-out;
      @media only screen and (max-width: 567px){
        width: 45px;
        height: 45px;
      }
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
  .remove-item {
    color: red;
    opacity: 0.4;
    @media only screen and (max-width: 567px){
          margin-top: 32px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.rtl {
    .ant-card .item-details {
      margin-left: 0px;
      margin-right: 16px;
    }
  }
</style>
