<template>
  <div>
    <a-form-model
      :model="form"
      :rules="rules"
      class="cart-form"
      @submit="handleSubmit"
    >
      <a-row :gutter="[16, 16]" type="flex">
        <a-col :span="24" style="margin-bottom: 16px;margin-top: 16px;">
          <h2>{{ $t('cart.selectShippingCompany') }}</h2>
          <a-radio-group v-model="shipmentCompany" class="shipment-companies">
            <div class="shipment-companies-company" :class="shipmentCompany === 'smsa' ? 'active' : ''">
              <a-radio value="smsa">
                {{ $t('cart.smsaCompany') }}
              </a-radio>
              <div class="shipment-companies-company-price">
                <span>25 {{ $t('currencies.ryial') }}</span>
              </div>
            </div>
            <div class="shipment-companies-company" :class="shipmentCompany === 'aramex' ? 'active' : ''">
              <a-radio value="aramex">
                {{ $t('cart.aramexCompany') }}
              </a-radio>
              <div class="shipment-companies-company-price discounted">
                <span>22 {{ $t('currencies.ryial') }}</span>
                <div class="shipment-companies-company-price-discount">
                  19 {{ $t('currencies.ryial') }}
                </div>
              </div>
            </div>
          </a-radio-group>
        </a-col>
        <a-col :span="24">
          <h2>{{ $t('cart.shipingInfo') }}</h2>
        </a-col>
        <a-col :xs="24" :sm="24" :md="12">
          <a-form-model-item ref="name" prop="name">
            <a-input
              v-model="form.name"
              type="text"
              :placeholder="$t('cart.fullName')"
            >
              <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-model-item>
        </a-col>
        <a-col :xs="24" :sm="24" :md="12">
          <a-form-model-item ref="email" prop="email">
            <a-input
              v-model="form.email"
              type="email"
              :placeholder="$t('cart.emailAddress')"
            >
              <a-icon slot="prefix" type="mail" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-model-item>
        </a-col>
        <a-col :xs="24" :sm="24" :md="12">
          <a-form-model-item ref="address" prop="address">
            <a-input
              v-model="form.address"
              :message="message"
              type="text"
              :placeholder="$t('cart.address')"
              @click="openLocationPickerModal"
            >
              <a-icon slot="prefix" type="home" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-model-item>
        </a-col>
        <a-col :xs="24" :sm="24" :md="12">
          <a-form-model-item ref="phone" class="phone-number-input" prop="phone">
            <a-input
              v-model="form.phone"
              type="text"
              :placeholder="$t('cart.phoneNumber')"
              @change="handlePhoneNumber"
            />
            <div class="selected-code">
              {{ selectedCode }}
            </div>
            <div class="countries-codes">
              <a-select default-value="+966" style="width: 120px" @change="handlePhoneNumberChange">
                <a-select-option value="+966">
                  Saudi Arabia
                </a-select-option>
                <a-select-option value="+963">
                  Syria
                </a-select-option>
              </a-select>
            </div>
          </a-form-model-item>
        </a-col>

        <a-col :sm="24">
          <div class="payment-methods" style="margin-top: 16px;">
            <a-row :gutter="[16, 16]" type="flex">
              <a-col :span="24">
                <h2>{{ $t('cart.paymentMethods') }}</h2>
              </a-col>
              <a-col :span="8" :md="8">
                <input id="mada" v-model="paymentMethod" type="radio" value="mada">
                <label class="payment-methods-payment" for="mada">
                  <img src="~/assets/imgs/mada.png" alt="">
                  <a-icon type="check-circle" style="color: rgb(8, 184, 8);" />
                </label>
              </a-col>
              <a-col :span="8" :md="8">
                <input id="credit-card" v-model="paymentMethod" type="radio" value="credit-card">
                <label class="payment-methods-payment visa-master" for="credit-card">
                  <img src="~/assets/imgs/visa_master.png" alt="">
                  <a-icon type="check-circle" style="color: rgb(8, 184, 8);;" />
                </label>
              </a-col>
              <a-col :span="8" :md="8">
                <input id="apple-pay" v-model="paymentMethod" type="radio" value="apple-pay">
                <label class="payment-methods-payment" for="apple-pay">
                  <img src="~/assets/imgs/apply_pay.png" alt="">
                  <a-icon type="check-circle" style="color: rgb(8, 184, 8);;" />
                </label>
              </a-col>
            </a-row>
          </div>
        </a-col>
      </a-row>
      <a-form-item>
        <a-button type="primary" html-type="submit" style="width: 100%; height: 43px;margin-top: 16px;" class="pay-form-button">
          {{ $t('cart.payNow') }}
        </a-button>
      </a-form-item>
    </a-form-model>
    <a-modal v-model="locationPickerModal" class="location-picker-modal" :title="$t('cart.addressModalTitle')">
      <div id="map-wrap" style="height: 400px">
        <l-map ref="addressMap" :zoom="10" :center="[position.lat, position.lng]" @click="onMapClick">
          <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" />
          <l-marker
            v-if="position.lat && position.lng"
            draggable
            :lat-lng.sync="position"
            @dragstart="dragging = true"
            @dragend="dragging = false"
          />
        </l-map>
      </div>
    </a-modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        address: ''
      },
      selectedCode: '+966',
      paymentMethod: '',
      locationPickerModal: false,
      dragging: false,
      addressName: '',
      position: {
        lat: 24.766794695921604,
        lng: 46.72272112053936
      },
      loading: false,
      userLocation: {
        lat: 24.766794695921604,
        lng: 46.72272112053936
      },
      shipmentCompany: '',
      rules: {
        name: [{ validator: this.validateName, required: true, trigger: 'change' }],
        phone: [{ validator: this.validatePhone, required: true, pattern: /^[0-9]+$/, trigger: 'change' }],
        email: [{ validator: this.validateEmail, required: true, trigger: 'change' }],
        address: [{ validator: this.validateAddress, required: true, trigger: 'change' }]
      }
    }
  },
  computed: {
    phoneNumberErrorMessage () {
      return this.$t('cart.phoneNumberError')
    }
  },

  watch: {
    position: {
      deep: true,
      async handler () {
        this.address = await this.getAddress()
        this.form.address = this.addressName
      }
    }
  },
  methods: {
    validateName (rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('cart.fullNameError')))
      } else {
        callback()
      }
    },
    validateEmail (rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('cart.emailAddressError')))
      } else {
        callback()
      }
    },
    validatePhone (rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('cart.phoneNumberError')))
      } else {
        callback()
      }
    },
    validateAddress (rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('cart.addressError')))
      } else {
        callback()
      }
    },
    handlePhoneNumber (value) {
      // const arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g]
      const inputValue = value.target.value
      this.form.phone = inputValue.replace(
        /[\u0660-\u0669\u06F0-\u06F9]/g,
        function (a) {
          return String.fromCharCode((a.charCodeAt(0) & 15) + 48)
        }
      ).replace(/[^0-9]+/g, '')
    },
    openLocationPickerModal () {
      this.locationPickerModal = true
      if (!this.addressName) {
        this.getUserPosition()
      }
    },
    async getAddress () {
      this.loading = true
      let address = 'Unresolved address'
      try {
        const { lat, lng } = this.position
        const result = await fetch(
          `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`
        )
        if (result.status === 200) {
          const body = await result.json()
          address = body.display_name
          this.addressName = address
        }
      } catch (e) {
        console.error('Reverse Geocode Error->', e)
      }
      this.loading = false
      return address
    },
    async onMapClick (value) {
      this.position = await value.latlng
    },
    async getUserPosition () {
      if (navigator.geolocation) {
        // get GPS position
        await navigator.geolocation.getCurrentPosition((pos) => {
          // set the user location
          this.userLocation = {
            lat: pos.coords.latitude,
            lng: pos.coords.longitude
          }
          this.position = {
            lat: pos.coords.latitude,
            lng: pos.coords.longitude
          }
        })
      }
    },
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          // console.log('Received values of form: ', values)
        }
      })
    },
    handlePhoneNumberChange (e) {
      this.selectedCode = e
    },
    handleOk () {
      this.locationPickerModal = false
    }
  }
}
</script>
<style lang="scss" scoped>
.ant-form-item {
    margin-bottom: 0px;
}
.pay-form-button {
  background-color: var(--green);
  border-color: var(--green);
}
.phone-number-input {
    position: relative;
    .countries-codes {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%)
    }
    .selected-code {
        position: absolute;
        left: 132px;
        top: 50%;
        transform: translateY(-50%)
    }
    ::v-deep {
        input {
            padding-left: 175px;
            appearance: none;
        }
    }
}
.shipment-companies {
  margin-bottom: 16px;
  width: 100%;
  margin-top: 8px;
  &-company {
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    &.active {
      background-color: var(--gray)
    }
    &-price {
      &.discounted {
        display: flex;
        align-items: center;
        span {
          text-decoration: line-through;
          color: red;
        }
        .shipment-companies-company-price-discount {
          margin-left: 4px;
        }
      }
    }
  }
}
.payment-methods {
    input[type="radio"] {
            display: none;
    }
    &-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border: 2px solid #f1f1f1;
        height: 80px;
        border-radius: 5px;
        transition: .2s all ease-in;
        cursor: pointer;
        position: relative;
        &:hover {
            border-color: var(--primary);
        }
        .anticon  {
            position: absolute;
            top: 8px;
            right: 12px;
            font-size: 16px;
            opacity: 0;
            transition: .2s all ease-in;
        }
        img {
            max-width: 70px;
            width: 100%;
        }
        &.visa-master {
            img {
                max-width: 140px;
            }
        }
    }
    input[type="radio"]:checked + label {
        border-color: var(--primary);
        .anticon  {
            opacity: 1;
        }
    }

}
.location-picker-modal {
  ::v-deep {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-footer {
      display: none;
    }
  }
}
.rtl {
  .payment-methods {
    .ant-row {
      flex-direction: row-reverse;
    }
  }
   .shipment-companies-company-price-discount {
      margin-right: 4px;
      margin-left: 0px !important;
   }
}

</style>
