<template>
  <a-card :loading="loading">
    <div class="store-contact">
      <h1>{{ $t("home.ContactDetails.title") }}</h1>
      <ul class="contact-details">
        <li>
          <a-icon type="phone" />
          <span>{{ $t("home.ContactDetails.phone") }}: 55115583</span>
        </li>
        <li>
          <a-icon type="mail" />
          <span>{{ $t("home.ContactDetails.email") }}: <a href="mailto:payzaty@payzaty.net">payzaty@payzaty.net</a></span>
        </li>
        <li>
          <a-icon type="global" />
          <span>
            {{ $t("home.ContactDetails.website") }}:<a href="#" target="_blank"> www.payzaty.com</a>
          </span>
        </li>
      </ul>
      <ul class="social-links">
        <li>
          <a href="#" target="_blank"><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg></a>
        </li>
        <li>
          <a href="#" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-twitter"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-snapchat"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M16.882 7.842a4.882 4.882 0 0 0 -9.764 0c0 4.273 -.213 6.409 -4.118 8.118c2 .882 2 .882 3 3c3 0 4 2 6 2s3 -2 6 -2c1 -2.118 1 -2.118 3 -3c-3.906 -1.709 -4.118 -3.845 -4.118 -8.118zm-13.882 8.119c4 -2.118 4 -4.118 1 -7.118m17 7.118c-4 -2.118 -4 -4.118 -1 -7.118" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank"><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg></a>
        </li>
        <li>
          <a href="#" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-whatsapp"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
              <path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-youtube"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect x="3" y="5" width="18" height="14" rx="4" />
              <path d="M10 9l5 3l-5 3z" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </a-card>
</template>
<script>
export default {
  data () {
    return {
      loading: false
    }
  },
  methods: {

  }
}
</script>
<style lang="scss" scoped>
.ant-card {
    margin-bottom: 16px;
}
.store-contact {
  h1 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
    margin: 0;
    margin-bottom: 16px;
    padding-bottom:8px;
  }
  .contact-details {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
          margin-bottom: 8px;
          span {
              font-size: 16px;
              margin-right: 8px;
              margin-left: 8px;
          }
          .anticon {
              font-size: 18px;
          }
      }
  }
  .social-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-top: 16px;
    li {
        margin-right: 12px;
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid var(--gray);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s all ease-in;
            svg {
                width: 25px;
                height: 25px;
                transition: .2s all ease-in;
                path,rect,circle,line {
                    stroke: var(--primary);
                }
            }
            &:hover {
                background-color: var(--primary);
                border-color: transparent;
             svg {
                path,rect,circle,line {
                    stroke: var(--white);
                }
            }
            }
        }
    }
  }
}

</style>
