<template>
  <a-card :loading="loading">
    <div class="store-info">
      <div class="store-info-head">
        <div class="store-info-head-photo">
          <img src="~/assets/imgs/mobile2000.png" alt="">
        </div>
        <div class="store-info-head-details">
          <div class="store-info-head-details-name">
            <h1>{{ $t('home.StoreInfo.StoreName') }}</h1>
          </div>
          <div class="store-info-head-details-info">
            <span><a-icon type="appstore" /> 25 {{ $t("home.StoreInfo.products") }}</span>
            <span><a-icon type="eye" /> 1024 {{ $t("home.StoreInfo.views") }}</span>
          </div>
        </div>
      </div>
      <div class="store-info-description">
        <p>
          {{ $t('home.StoreInfo.StoreDescription') }}
        </p>
      </div>
    </div>
  </a-card>
</template>
<script>
export default {
  data () {
    return {
      loading: false
    }
  }
}
</script>
<style lang="scss" scoped>
.ant-card {
    margin-bottom: 16px;
}
.store-info {
    &-head {
        display: flex;
        align-items: center;
        &-photo {
            img {
                max-width: 75px;
                height: 75px;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid var(--white);
                box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
                object-position: center;
            }
        }
        &-details {
            margin: 0px 16px;
            &-name {
                h1 {
                    margin-bottom: 4px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            &-info {
                display: flex;
                align-items: center;
                span {
                    &:first-of-type {
                        margin-right: 8px;
                    }
                    font-size: 14px;
                }
            }
        }
    }
    &-description {
        p {
            font-size: 15px;
            margin:8px 0px;

        }

    }
}
.rtl {
  .store-info-head-details-info {
    :first-of-type {
      margin-right: 0;
    }
    & > :last-of-type {
      margin-right: 8px;
    }
  }
}
</style>
