<template>
  <a-select :size="size" style="min-width: 100%" mode="multiple" :placeholder="$t('filter.filterByCategory')" @change="handleChange">
    <a-select-option v-for="(category, index) in categories" :key="index" :value="category.category_en">
      {{ $i18n.locale === 'en' ? category.category_en : category.category_ar }}
    </a-select-option>
  </a-select>
</template>
<script>
export default {
  data () {
    return {
      size: 'large',
      categories: [
        {
          category_en: 'accessories',
          category_ar: 'أكسسوارات'
        },
        {
          category_en: 'Clothes',
          category_ar: 'ملابس'
        },
        {
          category_en: 'Electronics',
          category_ar: 'إلكترونيات'
        }
      ],
      selectedCategories: []
    }
  },
  mounted () {
  },
  methods: {
    handleChange (value) {
      this.selectedCategories = value
      this.$store.commit('products/SET_CATEGORIES_FILTER', this.selectedCategories)
    }
  }
}
</script>
<style lang="">

</style>
