<template lang="">
  <div class="product-container">
    <a-card v-if="product && !error" :loading="loading" class="grid-card">
      <img
        slot="cover"
        :alt="product.name"
        :src="product.photo"
      >
      <a-card-meta :title="$i18n.locale === 'en' ? product.name : product.name_ar">
        <template slot="description">
          <p>
            {{ $i18n.locale === 'en' ? product.description : product.description_ar }}
          </p>
          <div class="item-price">
            <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
          </div>
          <a-dropdown :trigger="['click']">
            <div class="share-button">
              <a-icon type="share-alt" />
            </div>
            <a-menu slot="overlay">
              <a-menu-item key="1">
                <a :href="`sms:?body=${$i18n.locale === 'en' ? product.name : product.name_ar} - ${$t('home.StoreInfo.StoreName')} ${productURL}`">
                  <a-icon type="message" style="font-size: 16px" />
                  <span>{{ $t('product.shareViaSMS') }}</span>

                </a>
              </a-menu-item>
              <a-menu-item key="2">
                <a :href="`whatsapp://send?text=${$i18n.locale === 'en' ? product.name : product.name_ar} - ${$t('home.StoreInfo.StoreName')} ${productURL}`">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-whatsapp"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#000000"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
                  </svg>
                  <span>{{ $t('product.shareViaWhatsapp') }}</span>
                </a>
              </a-menu-item>
              <a-menu-item key="3">
                <a
                  target="_blank"
                  :href="`http://twitter.com/share?text=${$i18n.locale === 'en' ? product.name : product.name_ar} - ${$t('home.StoreInfo.StoreName')}&url=${productURL}`"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-twitter"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#000000"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                  </svg>
                  <span>{{ $t('product.shareViaTwitter') }}</span>
                </a>
              </a-menu-item>
            </a-menu>
          </a-dropdown>
        </template>
      </a-card-meta>

      <div class="item-quantity">
        <div class="item-quantity-increase" @click="increaseQuantity">
          <a-icon type="plus" />
        </div>
        <span>{{ quantity }}</span>
        <div class="item-quantity-decrease" @click="decreaseQuantity">
          <a-icon type="minus" />
        </div>
      </div>
    </a-card>
    <NoResults v-else>
      <template #photo>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          data-name="Layer 1"
          width="729"
          height="658"
          viewBox="0 0 729 658"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        ><rect y="93" width="298" height="168" fill="#f1f1f1" /><path d="M535.31443,392.74227h-300v-170h300Zm-298-2h296v-166h-296Z" transform="translate(-215.31443 -146.74227)" fill="#3f3d56" /><rect x="409" y="17" width="298" height="168" fill="#f2f2f2" /><path d="M944.31443,316.74227h-300v-170h300Zm-298-2h296v-166h-296Z" transform="translate(-215.31443 -146.74227)" fill="#3f3d56" /><path d="M727.42861,804.74227h-381a1,1,0,1,1,0-2h381a1,1,0,1,1,0,2Z" transform="translate(-215.31443 -146.74227)" fill="#ccc" /><path d="M584.94579,568.47455A12.38034,12.38034,0,0,1,600.06091,556.989l16.372-23.07272,16.44782,6.5295-23.57812,32.25841a12.44744,12.44744,0,0,1-24.35686-4.22968Z" transform="translate(-215.31443 -146.74227)" fill="#a0616a" /><path d="M602.90561,548.632l29.109-48.95706L620.155,468.04947l16.15228-43.07395.59568.25555c.39058.16734,9.56836,4.26281,10.92858,18.92951l18.56189,58.33693-49.53915,64.26717Z" transform="translate(-215.31443 -146.74227)" fill="#3f3d56" /><path d="M444.813,368.65055a12.3803,12.3803,0,0,1,10.28248,15.9579l21.73782,18.10693-7.78163,15.89375-30.33887-26.00164a12.44745,12.44745,0,0,1,6.1002-23.95694Z" transform="translate(-215.31443 -146.74227)" fill="#a0616a" /><path d="M463.2075,388.09077l46.55991,32.807,32.44778-9.37889,41.69617,19.43425-.30084.57414c-.197.37647-4.98984,9.21014-19.7178,9.43231l-59.59745,13.99592-60.2446-54.35977Z" transform="translate(-215.31443 -146.74227)" fill="#3f3d56" /><polygon points="333.089 640.297 316.903 640.297 309.202 577.863 333.092 577.864 333.089 640.297" fill="#a0616a" /><path d="M300.57258,635.67157h35.985a0,0,0,0,1,0,0v19.655a0,0,0,0,1,0,0H285.68572a0,0,0,0,1,0,0v-4.76818A14.88686,14.88686,0,0,1,300.57258,635.67157Z" fill="#2f2e41" /><polygon points="397.784 640.297 381.597 640.297 373.897 577.863 397.786 577.864 397.784 640.297" fill="#a0616a" /><path d="M365.26694,635.67157h35.985a0,0,0,0,1,0,0v19.655a0,0,0,0,1,0,0H350.38008a0,0,0,0,1,0,0v-4.76818A14.88686,14.88686,0,0,1,365.26694,635.67157Z" fill="#2f2e41" /><polygon points="403.54 412.407 402.22 504.828 400.9 626.295 371.853 623.654 357.33 455.977 338.846 623.654 308.859 623.654 305.839 454.657 316.401 417.688 403.54 412.407" fill="#2f2e41" /><path d="M528.82027,564.99455l-4.425-.19151L544.949,451.57579l-8.41566-34.22331a7.48958,7.48958,0,0,1,4.6419-8.79869l15.14186-5.6777,5.34935-14.71141,42.20641,4.548L604.91075,404.21c4.57364,1.46685,42.23691,14.01,39.63821,28.30213-2.56488,14.10666-17.70915,58.48857-18.47822,60.73778l-2.65217,63.64914-.32624.16311c-.39269.19635-29.48413,14.50056-61.08849,14.49815C550.87438,571.55973,539.42684,569.78477,528.82027,564.99455Z" transform="translate(-215.31443 -146.74227)" fill="#3f3d56" /><circle cx="581.11565" cy="350.49552" r="30.38881" transform="translate(-220.48051 545.53717) rotate(-61.33681)" fill="#a0616a" /><path d="M605.73047,379.91276c-5.79138,6.16906-16.54677,2.85737-17.30139-5.57045a10.18165,10.18165,0,0,1,.01281-1.96632c.38963-3.73316,2.54637-7.12242,2.02975-11.06411a5.80213,5.80213,0,0,0-1.06186-2.71612c-4.615-6.17988-15.44834,2.7641-19.80382-2.83036-2.67068-3.43039.46868-8.83137-1.58076-12.66542-2.70493-5.06032-10.71679-2.56405-15.74108-5.33533-5.59013-3.08338-5.25578-11.66024-1.576-16.87713,4.48768-6.36221,12.356-9.75708,20.12633-10.24635s15.48707,1.61122,22.74136,4.4383c8.24232,3.21213,16.41577,7.65133,21.488,14.89884,6.16835,8.81374,6.762,20.663,3.67705,30.969C616.86429,367.21654,610.45975,374.87506,605.73047,379.91276Z" transform="translate(-215.31443 -146.74227)" fill="#2f2e41" /></svg>
      </template>
      <template #footer>
        <div style="margin-top: 16px;font-size: 13px;">
          <span class="home-link">{{ $t('goTo') }} <nuxt-link to="/">
            {{ $t('homePage') }}
          </nuxt-link></span>
        </div>
      </template>
    </NoResults>
  </div>
</template>
<script>
export default {
  name: 'ProductPage',
  async asyncData ({ store, route, $http }) {
    let product
    if (store.state.products.products.length > 0) {
      product = store.state.products.products.find(item => item.id === parseInt(route.query.productId))
    } else {
      await $http.$get('https://api.jsonbin.io/b/61d46e3239a33573b322e68a/2').then((res) => {
        store.commit('products/SET_PRODUCTS', res)
      }).then(() => {
        product = store.state.products.products.find(item => item.id === parseInt(route.query.productId) && item.name.replace(/ /g, '-') === route.query.name)
      })
    }
    return { product }
  },
  data () {
    return {
      product: {},
      quantity: 0,
      loading: true,
      error: false,
      productURL: ''
    }
  },
  head () {
    return {
      title: this.$t('home.StoreInfo.StoreName') + ' - ' + this.$route.query.name?.replace(/-/g, ' '),
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$i18n.locale === 'ar' ? this.product?.name_ar : this.product?.name
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'product'
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: this.product?.photo
        },
        {
          hid: 'og:image:width',
          name: 'og:image:width',
          content: '400'
        },
        {
          hid: 'og:image:height',
          name: 'og:image:height',
          content: '400'
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.product?.photo
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.$t('home.StoreInfo.StoreName') + ' - ' + this.$route.query.name?.replace(/-/g, ' ')
        }

      ]
    }
  },
  created () {
    if (process.browser) {
      // eslint-disable-next-line nuxt/no-globals-in-created
      this.productURL = window.location.href.replace('&', '%26')
    }
    const that = this
    let item
    if (this.$store.state.cart.length > 0) {
      item = this.$store.state.cart.filter(item => item.id === parseInt(this.$route.query.productId))
      this.loading = false
      if (item.length > 0) {
        this.quantity = item[0].quantity
      }
    }
    if (this.product) {
      that.loading = false
    }
  },
  methods: {
    increaseQuantity () {
      this.quantity += 1
      if (this.quantity === 1) {
        this.$store.commit('SET_ITEM', { ...this.product, quantity: this.quantity })
      } else {
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    decreaseQuantity () {
      if (this.quantity > 0) {
        this.quantity -= 1
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    openPhotoModal () {
      this.photoModal = true
    },
    openProductDetails () {
      this.productModal = true
    }
  }
}
</script>
<style lang="scss" scoped>
.product-container {
  min-height: 90vh;
}

 .ant-card.grid-card {
    height: auto;
    border: none;
  }
::v-deep {
  .ant-card-meta-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8px;
    & > p {
      width: 100%;
    }
  }
  .ant-card-cover {
    img {
      width: 100%;
      height: auto !important;
      @media only screen and (max-width: 567px) {
        width: 100% !important;
      }
    }
  }
}
.share-button {
    .anticon {
      font-size: 24px;
      cursor: pointer;
      &:hover {
      color: var(--primary)

      }
    }
}
</style>
