:root {
    --primary: #00adef;
    --white: #fff;
    --dark-primary: #098bbe;
    --gray: #f1f1f1;
    --green: #06ab3d;
    --black: #000;
}
@font-face {
    font-family: 'ns';
    src: url('../fonts/fo/hinted-neosansw23-medium.eot');
    src: url('../fonts/fo/hinted-neosansw23-mediumd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fo/hinted-neosansw23-medium.woff2') format('woff2'),
        url('../fonts/fo/hinted-neosansw23-medium.woff') format('woff'),
        url('../fonts/fo/hinted-neosansw23-medium.ttf') format('truetype'),
        url('../fonts/fo/hinted-neosansw23-medium.svg#NeoSansW23-Medium') format('svg');
    font-style: normal;
}
* {
    font-family: 'ns';
}
.container {
    max-width: 1190px;
    width: 100%;
    margin: auto;
}
@media only screen and (max-width: 1190px){
    .container {
        max-width: 95%;
        width: 100%;
    }
}
.ant-input {
    height: 45px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.ant-form-explain {
    margin-top: 4px !important;
    font-size: 12px !important;
}


.ant-card.grid-card {
  width: 100%;
  height: 490px;
  display: flex;
  flex-direction: column;


}
.ant-card.grid-card  .ant-card-cover img {
    height: 210px;
    object-fit: cover;
}
@media only screen and (max-width: 567px){
    .ant-card.grid-card  .ant-card-cover img {
        width: 100%;
        height: 180px;
    }
}
.ant-card.grid-card .ant-card-meta-description p {
    font-size: 13px;
}
.ant-card.grid-card .ant-card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.ant-card.grid-card .item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 16px;
    border-top: 1px solid var(--gray);
    user-select: none;
}
.ant-card.grid-card .item-quantity .item-quantity-increase,
.ant-card.grid-card .item-quantity .item-quantity-decrease {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-size: 15px;
    transition: background,color .3s ease-in-out;
    cursor: pointer;
}
.ant-card.grid-card .item-quantity .item-quantity-increase:hover,
.ant-card.grid-card .item-quantity .item-quantity-decrease:hover {
    background-color: var(--primary);
    color: var(--white);
}
.ant-card.grid-card .item-quantity span {
    font-weight: bold;
    font-size: 18px;
}
.ant-card.grid-card .ant-card-meta-title {
    white-space: pre-wrap;
}
.ant-card.grid-card .item-price {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
}
.ant-card.grid-card .item-price sup {
    color: red;
    text-decoration: line-through;
    top: 4px;
    margin: 0px 4px;
}