<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div id="app-container" :class="$i18n.locale === 'ar' ? 'rtl' : 'ltr'">
    <TheNavbar />
    <div class="container main-layout">
      <a-row type="flex" :gutter="[16, 16]">
        <a-col
          v-if="$route.path === '/'"
          :span="8"
          :lg="8"
          :md="24"
          :sm="24"
          :xs="24"
        >
          <TheSidebar />
        </a-col>
        <a-col
          :span="16"
          :lg="16"
          :md="24"
          :sm="24"
          :xs="24"
          :style="{marginLeft: $route.path !== '/' ? 'auto' : '', marginRight: $route.path !== '/' ? 'auto' : ''}"
        >
          <Nuxt />
        </a-col>
      </a-row>
    </div>
    <TheFooter />
  </div>
</template>
<script>
import TheFooter from '~/components/TheFooter.vue'
export default {
  components: { TheFooter },
  head () {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('home.StoreInfo.StoreDescription')
        }
      ]
    }
  },
  mounted () {
    if (this.$i18n.locale === 'ar') {
      document.body.classList.add('lang-ar')
      document.getElementById('app-container').classList.add('rtl')
      document.getElementById('app-container').classList.remove('ltr')
    }
  }
}
</script>
<style lang="scss" scoped>
    .main-layout {
        margin-top: 100px;
    }
    .rtl {
      direction: rtl;
    }
    .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item {
      text-align: right;
    }
</style>
<style lang="scss">
.rtl {
  .ant-select-selection__rendered li {
    float: right;
  }
  .ant-select-selection--multiple .ant-select-selection__placeholder {
    text-align: right;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 11px;
    padding-right: 30px;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    right: 12px;
    left: auto;
  }
}
.lang-ar {
  .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item {
    text-align: right;
  }
  .ant-notification-notice-content {
    text-align: right;
  }
  .ant-notification-notice-close {
    left: 22px;
    right: auto;
  }
  .ant-notification-notice-icon {
    right: 22px;
  }
}
@media only screen and (min-width: 992px) {
    .rtl {
        .ant-col-lg-1,
        .ant-col-lg-2,
        .ant-col-lg-3,
        .ant-col-lg-4,
        .ant-col-lg-5,
        .ant-col-lg-6,
        .ant-col-lg-7,
        .ant-col-lg-8,
        .ant-col-lg-9,
        .ant-col-lg-10,
        .ant-col-lg-11,
        .ant-col-lg-12,
        .ant-col-lg-13,
        .ant-col-lg-14,
        .ant-col-lg-15,
        .ant-col-lg-16,
        .ant-col-lg-17,
        .ant-col-lg-18,
        .ant-col-lg-19,
        .ant-col-lg-20,
        .ant-col-lg-21,
        .ant-col-lg-22,
        .ant-col-lg-23,
        .ant-col-lg-24 {
            float: right;
        }
    }
}
</style>
