<template lang="">
  <div @click="goToProduct">
    <a-card hoverable :loading="loading" class="grid-card">
      <img
        slot="cover"
        :alt="product.name"
        :src="product.photo"
        @click.stop="openPhotoModal"
      >
      <a-card-meta :title="$i18n.locale === 'en' ? product.name : product.name_ar">
        <template slot="description">
          <p>
            {{ $i18n.locale === 'en' ? product.description.substr(0, 59) + '...' : product.description_ar.substr(0, 59) + '...' }}
          </p>
          <div class="item-price">
            <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
          </div>
        </template>
      </a-card-meta>
      <div class="item-quantity">
        <div class="item-quantity-increase" @click.stop="increaseQuantity">
          <a-icon type="plus" />
        </div>
        <span>{{ quantity }}</span>
        <div class="item-quantity-decrease" @click.stop="decreaseQuantity">
          <a-icon type="minus" />
        </div>
      </div>
    </a-card>
    <a-modal v-model="photoModal" :title="$i18n.locale === 'en' ? product.name : product.name_ar">
      <div>
        <img
          slot="cover"
          :alt="product.name"
          :src="product.photo"
          style="max-width: 100%;height: auto;"
        >
      </div>
      <template slot="footer">
        <span />
      </template>
    </a-modal>
    <a-modal v-model="productModal" class="product-modal" :title="$i18n.locale === 'en' ? product.name : product.name_ar">
      <a-card class="product-modal-card grid-card">
        <img
          slot="cover"
          :alt="product.name"
          :src="product.photo"
        >
        <a-card-meta>
          <template slot="description">
            <p>
              {{ $i18n.locale === 'en' ? product.description.substr(0, 59) + '...' : product.description_ar.substr(0, 59) + '...' }}
            </p>
            <div class="item-price">
              <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
            </div>
          </template>
        </a-card-meta>
        <div class="item-quantity">
          <div class="item-quantity-increase" @click.prevent.stop="increaseQuantity">
            <a-icon type="plus" />
          </div>
          <span>{{ quantity }}</span>
          <div class="item-quantity-decrease" @click.prevent.stop="decreaseQuantity">
            <a-icon type="minus" />
          </div>
        </div>
      </a-card>
      <template slot="footer">
        <span />
      </template>
    </a-modal>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      quantity: 0,
      loading: true,
      photoModal: false,
      productModal: false
    }
  },
  computed: {
  },
  created () {
    const that = this
    if (this.product) {
      const item = this.$store.state.cart.filter(item => item.id === this.product.id)
      if (item.length > 0) {
        this.quantity = item[0].quantity
      }
      that.loading = false
    }
  },
  methods: {
    increaseQuantity () {
      this.quantity += 1
      if (this.quantity === 1) {
        this.$store.commit('SET_ITEM', { ...this.product, quantity: this.quantity })
      } else {
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    decreaseQuantity () {
      if (this.quantity > 0) {
        this.quantity -= 1
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    openPhotoModal () {
      this.photoModal = true
    },
    openProductDetails () {
      this.productModal = true
    },
    goToProduct () {
      this.$router.push({ path: '/product', query: { productId: this.product.id, name: this.product.name.replaceAll(' ', '-') } })
    }
  }
}
</script>
<style lang="scss" scoped>

.product-modal ::v-deep {
 .ant-modal-footer {
    border: none;
    padding: 0;
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-card.grid-card {
    height: 100%;
    .ant-card-cover img {
      height: auto;
    }
  }
  @media only screen and (max-width: 567px){
    .ant-modal-title {
      font-size: 14px;
    }
    .ant-card-cover img {
      width: 100% !important;
    }
  }
}
.product-modal-card  {
  border: none;
}
</style>
