<template>
  <div>
    <a-card hoverable :loading="loading" class="list-card" @click="goToProduct">
      <div class="item-container">
        <div class="item-photo" @click.stop="openPhotoModal">
          <img
            :src="product.photo"
          >
        </div>
        <div class="item-details">
          <div class="item-title">
            {{ $i18n.locale === 'en' ? product.name : product.name_ar }}
          </div>
          <div class="item-description">
            <p>
              {{ $i18n.locale === 'en' ? product.description : product.description_ar }}
            </p>
          </div>
          <div class="item-price">
            <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
          </div>
          <div class="item-quantity">
            <div class="item-quantity-increase" @click.stop="increaseQuantity">
              <a-icon type="plus" />
            </div>
            <span>{{ quantity }}</span>
            <div class="item-quantity-decrease" @click.stop="decreaseQuantity">
              <a-icon type="minus" />
            </div>
          </div>
        </div>
      </div>
      <div class="item-quantity-mobile">
        <div class="item-quantity-increase" @click.stop="increaseQuantity">
          <a-icon type="plus" />
        </div>
        <span>{{ quantity }}</span>
        <div class="item-quantity-decrease" @click.stop="decreaseQuantity">
          <a-icon type="minus" />
        </div>
      </div>
    </a-card>
    <a-modal v-model="photoModal" :title="$i18n.locale === 'en' ? product.name : product.name_ar">
      <div>
        <img
          slot="cover"
          :alt="product.name"
          :src="product.photo"
          style="max-width: 100%;height: auto;"
        >
      </div>
      <template slot="footer">
        <span />
      </template>
    </a-modal>
    <a-modal v-model="productModal" class="product-modal" :title="$i18n.locale === 'en' ? product.name : product.name_ar">
      <a-card class="product-modal-card grid-card">
        <img
          slot="cover"
          :alt="product.name"
          :src="product.photo"
        >
        <a-card-meta>
          <template slot="description">
            <p>
              {{ $i18n.locale === 'en' ? product.description.substr(0, 59) + '...' : product.description_ar.substr(0, 59) + '...' }}
            </p>
            <div class="item-price">
              <p>{{ product.price - product.discount }} {{ $t('currencies.ryial') }}</p>  <sup>{{ product.price }} {{ $t('currencies.ryial') }}</sup>
            </div>
          </template>
        </a-card-meta>
        <div class="item-quantity">
          <div class="item-quantity-increase" @click.stop="increaseQuantity">
            <a-icon type="plus" />
          </div>
          <span>{{ quantity }}</span>
          <div class="item-quantity-decrease" @click.stop="decreaseQuantity">
            <a-icon type="minus" />
          </div>
        </div>
      </a-card>
      <template slot="footer">
        <span />
      </template>
    </a-modal>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      quantity: 0,
      loading: true,
      photoModal: false,
      productModal: false
    }
  },
  computed: {

  },

  created () {
    const that = this
    if (this.product) {
      const item = this.$store.state.cart.filter(item => item.id === this.product.id)
      if (item.length > 0) {
        this.quantity = item[0].quantity
      }
      that.loading = false
    }
  },
  methods: {
    increaseQuantity () {
      this.quantity += 1
      if (this.quantity === 1) {
        this.$store.commit('SET_ITEM', { ...this.product, quantity: this.quantity })
      } else {
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    decreaseQuantity () {
      if (this.quantity > 0) {
        this.quantity -= 1
        this.$store.commit('SET_ITEM_QUANTITY', { id: this.product.id, quantity: this.quantity })
      }
    },
    openPhotoModal () {
      this.photoModal = true
    },
    openProductDetails () {
      this.productModal = true
    },
    goToProduct () {
      this.$router.push({ path: '/product', query: { productId: this.product.id, name: this.product.name.replaceAll(' ', '-') } })
    }
  }
}
</script>
<style lang="scss" scoped>
.ant-card.list-card {
  width: 100%;

  ::v-deep {
    .ant-card-loading-content {
        width: 100%;
    }
    .ant-card-body {
          @media only screen and (max-width: 767px){
            padding: 24px 8px;
        }
    }
   .item-container {
      display: flex;
      @media only screen and (max-width: 767px){
        align-items: center;
        padding-top: 24px;
      }
    }
  }
  .item-photo {

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        @media only screen and (max-width: 767px){
            width: 100px;
            height: 100px;
        }
      }
  }
  .item-details {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      .item-title {
          font-size: 22px;
          font-weight: bold;
          @media only screen and (max-width: 767px){
            font-size: 15px;
        }
      }
      .item-description {
        p {
           @media only screen and (max-width: 767px){
            font-size: 13px;
            margin-bottom: 0.5em;
          }
        }
      }
  }

  .item-price {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    sup {
      color: red;
      text-decoration: line-through;
      top: 4px;
      margin: 0px 4px;
    }
     @media only screen and (max-width: 767px){
        position: absolute;
        top: 16px;
        right: 16px;
        p {
          font-size: 14px;
        }
        sup {
          font-size: 12px;
        }
      }
  }
  .item-quantity,
  .item-quantity-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding-top: 16px;
    user-select: none;
    align-self: flex-end;
    max-width: 240px;
    width: 100%;
    margin-top: auto;
    span {
      font-weight: bold;
      font-size: 18px;
    }
    .item-quantity-increase,
    .item-quantity-decrease {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      font-size: 15px;
      transition: background,color .3s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}
.item-quantity {
    @media only screen and (max-width: 767px){
      display: none !important;
    }
    &-mobile {
      display: none !important;
      @media only screen and (max-width: 767px){
        display: flex !important;
        margin: auto;
      }
    }
}

.rtl {
    .ant-card .item-details {
      margin-left: 0px;
      margin-right: 16px;
    }
    .item-price {
      @media only screen and (max-width: 767px){
          left: 16px;
          right: auto;
      }
    }
}
.product-modal ::v-deep {
 .ant-modal-footer {
    border: none;
    padding: 0;
  }
  .ant-modal-body {
    padding: 0;
  }
   .ant-card.grid-card {
    height: 100%;
    .ant-card-cover img {
      height: auto;
    }
  }
  @media only screen and (max-width: 567px){
    .ant-modal-title {
      font-size: 14px;
    }
    .ant-card-cover img {
      width: 100% !important;
    }
  }
}
</style>
